body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.main_div {
  width: 100%;
  height: 100vh;
  background-color: #6983aa;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.center_div {
  width: 25%;
  height: 80vh;
  background-color: #fff;
  box-shadow: 5px 5px 25px -5px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}

h1 {
  color: white;
  background-color: #8566aa;
  padding: 6px 0px 6px 0px;
  margin-bottom: 10px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

input {
  text-align: left;
  padding-left: 20px;
  height: 40px;
  top: 10px;
  font-size: 16px;
  font-weight: 500;
  width: 60%;
  border: 2px solid #8566aa;
  border-radius: 6px;
}

button {
  min-height: 40px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  margin-left: 20px;
  background-color: #8566aa;
  border: none;
  padding: 10px 20px;
}

button:hover {
  background-color: #6983aa;
}

ol {
  margin-top: 30px;
  margin-left: 30px;
}

ol li {
  padding-left: 0px;
  text-align: left;
  font-size: 20px;
  font-weight: 500;
  display: flex;
  align-items: center;
  color: #8566aa;

}

.fruit_style {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.fruit_delete {
  min-height: 20px;
  border-radius: 4px;
  color: #fff;
  font-size: 12px;
  margin-left: 20px;
  background-color: #8566aa;
  border: none;
  padding: 6px 6px;
}